{% macro generateToc(md = '') %}
  {% if md | markdownify | toc %}
    <aside class="sticky-aside">
      <div class="toc">
        <span>Table of contents</span>
          {{ md | markdownify | toc | safe }}
      </div>
    </aside>
  {% endif %}
{% endmacro %}