{% from "../macros/table-of-contents.njk" import generateToc %}

<div id="main-tab-layout" class="mu-p-05 mu-p-md-06 mu-p-lg-07 mu-p-xl-08">
  <div class="mcc-tabs mcc-tabs--bar">

    {% for tab in tabs %}
      <input type="radio" id="component-{{ tab.title.toLowerCase() }}" name="page-tabs">
    {% endfor %}

    <ul role="tablist">
      {% for tab in tabs %}
        <li role="tab">
          <label for="component-{{ tab.title.toLowerCase() }}" tabindex="0">
            <span>{{ tab.title }}</span>
          </label>
        </li>
      {% endfor %}
    </ul>

    <!-- tab panes -->
    <!-- if the tab content has a 'hook' then use that to load the relevant partial -->
    <!-- otherwise render the tab body as markdown -->
    {% for tab in tabs %}
      <div role="tabpanel" class="mu-p-05 mu-p-md-06">
        <article>
          {% if tab.hook %}
            {% include "./" + page.url.split('/')[1] + "/" + tab.hook + ".njk" %}
          {% else %}
            {{ generateToc(tab.body) }}
            {{ tab.body | markdownify | safe }}
          {% endif %}
        </article>
      </div>
    {% endfor %}

  </div>
</div>